#about-me-section {
  overflow: hidden;
  font-size: inherit;
}

.about-me__desc h1 {
  margin: 20px 0 0 0;
}

.about-me__desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 18px;
}

.about-me__desc-content {
  width: 30%;
}

@media screen and (max-width: 812px) {
  .about-me__desc-content {
    width: 80%;
  }
}
