html {
  scroll-behavior: smooth;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  margin: 0;
}

.main-title {
  font-weight: 300;
}

.main-title,
.section-titles {
  font-size: 2.25em;
}

.section-titles {
  padding: 7px 20px;
  width: 30%;
  border: none;
  border-radius: 10px;
  background-color: rgb(192, 56, 56);
  color: white;
  text-align: center;
  font-weight: 600;
  margin-bottom: 50px;
}

@media screen and (max-width: 812px) {
  p {
    font-size: 15px;
  }
  .section-titles {
    font-size: 1.25em;
  }
}

@media screen and (max-width: 550px) {
  .technologies-icons {
    height: 40px !important;
    width: 40px !important;
  }

  .project-card {
    display: flex !important;
    flex-direction: column-reverse;
    align-items: center;
  }
}

@media screen and (max-width: 375px) {
  html,
  body {
    overflow-x: hidden;
  }

  p {
    font-size: 10px;
  }

  .project-desc {
    padding: 0 50px;
  }
}
